{% set domain = 'footer' %}

<div class="container">
    <div class="row">
        <address class="col-sm-3">
            <strong>{{ 'footer.section_1.title'|trans({}, domain)|raw }}</strong><br>
            {{ 'footer.section_1.address_1'|trans({}, domain)|raw }}<br>
            {{ 'footer.section_1.address_2'|trans({}, domain)|raw }}<br>
            {{ 'footer.section_1.address_3'|trans({}, domain)|raw }}<br>
            Tel: {{ 'footer.section_1.tel'|trans({}, domain)|raw }}<br>
            Fax: {{ 'footer.section_1.fax'|trans({}, domain)|raw }}
        </address>
        <address class="col-sm-3">
            <strong>{{ 'footer.section_2.title'|trans({}, domain)|raw }}</strong><br>
            {{ 'footer.section_2.address_1'|trans({}, domain)|raw }}<br>
            {{ 'footer.section_2.address_2'|trans({}, domain)|raw }}<br>
            {{ 'footer.section_2.address_3'|trans({}, domain)|raw }}<br>
            Tel: {{ 'footer.section_2.tel'|trans({}, domain)|raw }}<br>
            Fax: {{ 'footer.section_2.fax'|trans({}, domain)|raw }}
        </address>
        <address class="col-sm-3">
            <strong>{{ 'footer.section_3.title'|trans({}, domain)|raw }}</strong><br>
            {{ 'footer.section_3.address_1'|trans({}, domain)|raw }}<br>
            {{ 'footer.section_3.address_2'|trans({}, domain)|raw }}<br>
            {{ 'footer.section_3.address_3'|trans({}, domain)|raw }}<br>
            Tel: {{ 'footer.section_3.tel'|trans({}, domain)|raw }}<br>
            Fax: {{ 'footer.section_3.fax'|trans({}, domain)|raw }}
        </address>

        <div class="col-sm-3">
            <a href="{{ path('hte_contact') }}" class="h-button"><span class="glyphicon glyphicon-envelope"></span> Contact Us</a>

            <div class="social">
                <a href="http://facebook.com/hteht" class="icons-facebook"><span class="abs">Facebook</span></a>
                <a href="http://linkedin.com/company/hte-enterprise" class="icons-linkedin"><span class="abs">LinkedIn</span></a>
                <a href="http://gplus.to/hteht" class="icons-google_plus"><span class="abs">Google Plus</span></a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-9 copyright">
            {{ 'footer.copyright'|trans({}, domain)|raw }}
        </div>
    </div>
</div>