{% extends 'HteSiteBundle:Default:_main.html.twig' %}

{% block title %}About {% endblock %}

{% block container %}
    <div class="stagger">
        <div>
            <div class="col-sm-4"><img src="{{ asset('bundles/htesite/images/about_us.jpg') }}" class="img-responsive" /></div>
            <div class="col-sm-8">
                <h3>{{ 'about_us.section_1.title'|trans|raw }}</h3>
                <p>{{ 'about_us.section_1.body'|trans|raw }}</p>
            </div>
        </div>

        <div>
            <div class="col-sm-8">
                <h3>{{ 'about_us.section_2.title'|trans|raw }}</h3>
                <p>{{ 'about_us.section_2.body'|trans|raw }}</p>
            </div>
            <div class="col-sm-4"><img src="{{ asset('bundles/htesite/images/product_samples.jpg') }}" class="img-responsive" /></div>
        </div>

        <div>
            <div class="col-sm-4"><img src="{{ asset('bundles/htesite/images/capabilities.jpg') }}" class="img-responsive" /></div>
            <div class="col-sm-8">
                <h3>{{ 'about_us.section_3.title'|trans|raw }}</h3>
                <p>{{ 'about_us.section_3.body'|trans|raw }}</p>
            </div>
        </div>
    </div>
{% endblock %}