{% extends 'HteSiteBundle:Default:_main.html.twig' %}

{% block container %}
    <div>
        <h3>{{ 'contact_us.section_1.title'|trans|raw }}</h3>
        <p>{{ 'contact_us.section_1.body'|trans|raw }}</p>

        <p>E-mail: {{ 'contact_us.section_1.email'|trans|raw }}</p>
        <p>Tel: {{ 'contact_us.section_1.tel'|trans|raw }}</p>
        <p>Fax: {{ 'contact_us.section_1.fax'|trans|raw }}</p>
    </div>

    <div>
        <h3>{{ 'contact_us.section_2.title'|trans|raw }}</h3>
        <p>{{ 'contact_us.section_2.body'|trans|raw }}</p>
    </div>
{% endblock %}