{% set domain = 'home' %}

{% extends 'HteSiteBundle:Default:_main.html.twig' %}

{% block fullWidthContainer %}
    <div class="hero">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-6">
                    <h3>{{ 'home.section_1.title'|trans({}, domain)|raw }} <b>{{ 'home.section_1.title_bold'|trans({}, domain)|raw }}</b></h3>
                    <p>
                        {{ 'home.section_1.body'|trans({}, domain)|raw }}
                    </p>
                    <a href="{{ path('hte_about') }}" class="h-button">{{ 'home.section_1.button'|trans({}, domain)|raw }}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block container %}
<div class="stagger">

    {% include 'HteSiteBundle:Default:_stagger_right.html.twig' with {
        'imageUrl': 'bundles/hteasset/images/home/1.jpg',
        'title': 'home.section_2.title',
        'body': 'home.section_2.body',
        'buttonRoute': 'hte_product_samples',
        'buttonText': 'home.section_2.button'
    } %}

    {% include 'HteSiteBundle:Default:_stagger_left.html.twig' with {
        'imageUrl': 'bundles/hteasset/images/home/2.jpg',
        'title': 'home.section_3.title',
        'body': 'home.section_3.body',
        'buttonRoute': 'hte_capabilities',
        'buttonText': 'home.section_3.button'
    } %}

    {% include 'HteSiteBundle:Default:_stagger_right.html.twig' with {
        'imageUrl': 'bundles/hteasset/images/home/3.jpg',
        'title': 'home.section_4.title',
        'body': 'home.section_4.body',
        'buttonRoute': 'hte_contact',
        'buttonText': 'home.section_4.button'
    } %}
</div>
{% endblock %}