{% extends 'HteSiteBundle:Default:_main.html.twig' %}

{% block container %}
<div class="stagger">
    <div class="row">
        <div class="col-sm-4"><img src="{{ asset('bundles/htesite/images/about_us.jpg') }}" class="img-responsive" /></div>
        <div class="col-sm-8">
            <h3>{{ 'homepage.section_1.title'|trans|raw }}</h3>
            <p>{{ 'homepage.section_1.body'|trans|raw }}</p>
            <a href="{{ path('hte_about') }}" class="h-button">{{ 'homepage.section_1.button'|trans|raw }}</a>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8">
            <h3>{{ 'homepage.section_2.title'|trans|raw }}</h3>
            <p>{{ 'homepage.section_2.body'|trans|raw }}</p>
            <a href="{{ path('hte_product_samples') }}" class="h-button">{{ 'homepage.section_2.button'|trans|raw }}</a>
        </div>
        <div class="col-sm-4"><img src="{{ asset('bundles/htesite/images/product_samples.jpg') }}" class="img-responsive" /></div>
    </div>

    <div class="row">
        <div class="col-sm-4"><img src="{{ asset('bundles/htesite/images/capabilities.jpg') }}" class="img-responsive" /></div>
        <div class="col-sm-8">
            <h3>{{ 'homepage.section_3.title'|trans|raw }}</h3>
            <p>{{ 'homepage.section_3.body'|trans|raw }}</p>
            <a href="{{ path('hte_capabilities') }}" class="h-button">{{ 'homepage.section_3.button'|trans|raw }}</a>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8">
            <h3>{{ 'homepage.section_4.title'|trans|raw }}</h3>
            <p>{{ 'homepage.section_4.body'|trans|raw }}</p>
            <a href="{{ path('hte_contact') }}" class="h-button">{{ 'homepage.section_4.button'|trans|raw }}</a>
        </div>
        <div class="col-sm-4"><img src="{{ asset('bundles/htesite/images/contact_us.jpg') }}" class="img-responsive"  /></div>
    </div>
</div>
{% endblock %}