{% extends 'HteSiteBundle:Default:_main.html.twig' %}

{% block title %}Product Samples &middot; {% endblock %}

{% block container %}
    <div class="mini-hero">
        <h2><span>HTE</span> Product Samples</h2>
        <p>
            HTE specializes in five different forms of casting processes: Sand Casting, Die Casting,
            Permanent Mold Casting, Investment Casting, and Die-Drop Forging.
        </p>
    </div>

    <div class="stagger">
        <div class="row">
            <div id="product-sample-carousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#product-sample-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#product-sample-carousel" data-slide-to="1"></li>
                    <li data-target="#product-sample-carousel" data-slide-to="2"></li>
                    <li data-target="#product-sample-carousel" data-slide-to="3"></li>
                    <li data-target="#product-sample-carousel" data-slide-to="4"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    {% spaceless %}
                        <div class="item active">
                            <a href="{{ asset('bundles/htesite/images/about_us.jpg') }}" data-lightbox="product-sample-carousel" title="My caption 1">
                                <img src="{{ asset('bundles/htesite/images/about_us.jpg') }}" alt="Image 1">
                            </a>
                        </div>
                        <div class="item">
                            <a href="{{ asset('bundles/htesite/images/about_us.jpg') }}" data-lightbox="product-sample-carousel" title="My caption 2">
                                <img src="{{ asset('bundles/htesite/images/product_samples.jpg') }}" alt="My caption 2">
                            </a>
                        </div>
                        <div class="item">
                            <a href="{{ asset('bundles/htesite/images/capabilities.jpg') }}" data-lightbox="product-sample-carousel" title="My caption 3">
                                <img src="{{ asset('bundles/htesite/images/capabilities.jpg') }}" alt="My caption 3">
                            </a>
                        </div>
                        <div class="item">
                            <a href="{{ asset('bundles/htesite/images/contact_us.jpg') }}" data-lightbox="product-sample-carousel" title="My caption 4">
                                <img src="{{ asset('bundles/htesite/images/contact_us.jpg') }}" alt="My caption 4">
                            </a>
                        </div>
                        <div class="item">
                            <a href="{{ asset('bundles/htesite/images/capabilities.jpg') }}" data-lightbox="product-sample-carousel" title="My caption ">
                                <img src="{{ asset('bundles/htesite/images/contact_us.jpg') }}" alt="My caption 5">
                            </a>
                        </div>
                    {% endspaceless %}
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#product-sample-carousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#product-sample-carousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
        <div class="row">
            {% spaceless %}
            <div class="col-sm-6 image-container image-grid">
                <div class="image-row">
                    <a href="{{ asset('bundles/htesite/images/about_us.jpg') }}" data-lightbox="section-1" title="My caption 1">
                        <img src="{{ asset('bundles/htesite/images/about_us.jpg') }}" />
                    </a>
                    <a href="{{ asset('bundles/htesite/images/product_samples.jpg') }}" data-lightbox="section-1" title="My caption 2">
                        <img src="{{ asset('bundles/htesite/images/product_samples.jpg') }}" />
                    </a>
                </div>
                <div class="image-row">
                    <a href="{{ asset('bundles/htesite/images/capabilities.jpg') }}" data-lightbox="section-1" title="My caption 3">
                        <img src="{{ asset('bundles/htesite/images/capabilities.jpg') }}" />
                    </a>
                    <a href="{{ asset('bundles/htesite/images/contact_us.jpg') }}" data-lightbox="section-1" title="My caption 4">
                        <img src="{{ asset('bundles/htesite/images/contact_us.jpg') }}" />
                    </a>
                </div>
            </div>
            <div class="col-sm-6">
                <h3>{{ 'product_samples.section_1.title'|trans|raw }}</h3>
                <p>{{ 'product_samples.section_1.body'|trans|raw }}</p>
            </div>
            {% endspaceless %}
        </div>

        {% include 'HteSiteBundle:Default:_stagger_right.html.twig' with {
            'imageUrl': 'bundles/htesite/images/product_samples.jpg',
            'title': 'product_samples.section_2.title',
            'body': 'product_samples.section_2.body'
        } %}

        {% include 'HteSiteBundle:Default:_stagger_left.html.twig' with {
            'imageUrl': 'bundles/htesite/images/about_us.jpg',
            'title': 'product_samples.section_3.title',
            'body': 'product_samples.section_3.body'
        } %}

        {% include 'HteSiteBundle:Default:_stagger_right.html.twig' with {
            'imageUrl': 'bundles/htesite/images/product_samples.jpg',
            'title': 'product_samples.section_4.title',
            'body': 'product_samples.section_4.body'
        } %}

        {% include 'HteSiteBundle:Default:_stagger_left.html.twig' with {
            'imageUrl': 'bundles/htesite/images/about_us.jpg',
            'title': 'product_samples.section_5.title',
            'body': 'product_samples.section_5.body'
        } %}
    </div>
{% endblock %}