{% extends 'HteSiteBundle:Default:_main.html.twig' %}

{% block title %}Product Samples - {% endblock %}

{% block container %}
    <div class="mini-hero">
        <h2><span>HTE</span> Product Samples</h2>
        <p>
            HTE specializes in five different forms of casting processes: Sand Casting, Die Casting,
            Permanent Mold Casting, Investment Casting, and Die-Drop Forging.
        </p>
    </div>

    <div class="stagger">
        <div class="row">
            <div id="product-sample-carousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#product-sample-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#product-sample-carousel" data-slide-to="1"></li>
                    <li data-target="#product-sample-carousel" data-slide-to="2"></li>
                    <li data-target="#product-sample-carousel" data-slide-to="3"></li>
                    <li data-target="#product-sample-carousel" data-slide-to="4"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    {% spaceless %}
                        <div class="item active">
                            <a href="{{ asset('bundles/htesite/images/product_samples/slideshow/large/sand_casting.jpg') }}" data-lightbox="product-sample-carousel" title="{{ 'product_samples.section_1.title'|trans|raw }}">
                                <img src="{{ asset('bundles/htesite/images/product_samples/slideshow/small/sand_casting.jpg') }}" alt="{{ 'product_samples.section_1.title'|trans|raw }}">
                                <div class="carousel-caption">
                                    <h3>{{ 'product_samples.section_1.title'|trans|raw }}</h3>
                                </div>
                            </a>
                        </div>
                        <div class="item">
                            <a href="{{ asset('bundles/htesite/images/product_samples/slideshow/large/die_casting.jpg') }}" data-lightbox="product-sample-carousel" title="{{ 'product_samples.section_2.title'|trans|raw }}">
                                <img src="{{ asset('bundles/htesite/images/product_samples/slideshow/small/die_casting.jpg') }}" alt="{{ 'product_samples.section_2.title'|trans|raw }}">
                                <div class="carousel-caption">
                                    <h3>{{ 'product_samples.section_2.title'|trans|raw }}</h3>
                                </div>
                            </a>
                        </div>
                        <div class="item">
                            <a href="{{ asset('bundles/htesite/images/product_samples/slideshow/large/permanent_mold.jpg') }}" data-lightbox="product-sample-carousel" title="{{ 'product_samples.section_3.title'|trans|raw }}">
                                <img src="{{ asset('bundles/htesite/images/product_samples/slideshow/small/permanent_mold.jpg') }}" alt="{{ 'product_samples.section_3.title'|trans|raw }}">
                                <div class="carousel-caption">
                                    <h3>{{ 'product_samples.section_3.title'|trans|raw }}</h3>
                                </div>
                            </a>
                        </div>
                        <div class="item">
                            <a href="{{ asset('bundles/htesite/images/product_samples/slideshow/large/investment_casting.jpg') }}" data-lightbox="product-sample-carousel" title="{{ 'product_samples.section_4.title'|trans|raw }}">
                                <img src="{{ asset('bundles/htesite/images/product_samples/slideshow/small/investment_casting.jpg') }}" alt="{{ 'product_samples.section_4.title'|trans|raw }}">
                                <div class="carousel-caption">
                                    <h3>{{ 'product_samples.section_4.title'|trans|raw }}</h3>
                                </div>
                            </a>
                        </div>
                        <div class="item">
                            <a href="{{ asset('bundles/htesite/images/product_samples/slideshow/large/die_drop_forging.jpg') }}" data-lightbox="product-sample-carousel" title="{{ 'product_samples.section_5.title'|trans|raw }}">
                                <img src="{{ asset('bundles/htesite/images/product_samples/slideshow/small/die_drop_forging.jpg') }}" alt="{{ 'product_samples.section_5.title'|trans|raw }}">
                                <div class="carousel-caption">
                                    <h3>{{ 'product_samples.section_5.title'|trans|raw }}</h3>
                                </div>
                            </a>

                        </div>
                    {% endspaceless %}
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#product-sample-carousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#product-sample-carousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>

        <div class="row">
            {% spaceless %}
                <div class="col-sm-6">
                    <h3>{{ 'product_samples.section_1.title'|trans|raw }}</h3>
                    <p>{{ 'product_samples.section_1.body'|trans|raw }}</p>
                </div>
                <div class="col-sm-6 image-container image-grid">
                    <div class="image-row">
                        <a href="{{ asset('bundles/htesite/images/product_samples/die_casting/large/1.jpg') }}" data-lightbox="section_1" title="{{ 'product_samples.section_1.title'|trans|raw }}">
                            <img src="{{ asset('bundles/htesite/images/product_samples/die_casting/small/1.jpg') }}" />
                        </a>
                        <a href="{{ asset('bundles/htesite/images/product_samples/die_casting/large/2.jpg') }}" data-lightbox="section_1" title="{{ 'product_samples.section_1.title'|trans|raw }}">
                            <img src="{{ asset('bundles/htesite/images/product_samples/die_casting/small/2.jpg') }}" />
                        </a>
                    </div>
                    <div class="image-row">
                        <a href="{{ asset('bundles/htesite/images/product_samples/die_casting/large/3.jpg') }}" data-lightbox="section_1" title="{{ 'product_samples.section_1.title'|trans|raw }}">
                            <img src="{{ asset('bundles/htesite/images/product_samples/die_casting/small/3.jpg') }}" />
                        </a>
                        <a href="{{ asset('bundles/htesite/images/product_samples/die_casting/large/4.jpg') }}" data-lightbox="section_1" title="{{ 'product_samples.section_1.title'|trans|raw }}">
                            <img src="{{ asset('bundles/htesite/images/product_samples/die_casting/small/4.jpg') }}" />
                        </a>
                    </div>
                </div>
            {% endspaceless %}
        </div>

        <div class="row">
            {% spaceless %}
                <div class="col-sm-6 image-container image-grid">
                    <div class="image-row">
                        <a href="{{ asset('bundles/htesite/images/product_samples/permanent_mold/large/1.jpg') }}" data-lightbox="section_2" title="{{ 'product_samples.section_2.title'|trans|raw }}">
                            <img src="{{ asset('bundles/htesite/images/product_samples/permanent_mold/small/1.jpg') }}" />
                        </a>
                        <a href="{{ asset('bundles/htesite/images/product_samples/permanent_mold/large/2.jpg') }}" data-lightbox="section_2" title="{{ 'product_samples.section_2.title'|trans|raw }}">
                            <img src="{{ asset('bundles/htesite/images/product_samples/permanent_mold/small/2.jpg') }}" />
                        </a>
                    </div>
                    <div class="image-row">
                        <a href="{{ asset('bundles/htesite/images/product_samples/permanent_mold/large/3.jpg') }}" data-lightbox="section_2" title="{{ 'product_samples.section_2.title'|trans|raw }}">
                            <img src="{{ asset('bundles/htesite/images/product_samples/permanent_mold/small/3.jpg') }}" />
                        </a>
                        <a href="{{ asset('bundles/htesite/images/product_samples/permanent_mold/large/4.jpg') }}" data-lightbox="section_2" title="{{ 'product_samples.section_2.title'|trans|raw }}">
                            <img src="{{ asset('bundles/htesite/images/product_samples/permanent_mold/small/4.jpg') }}" />
                        </a>
                    </div>
                </div>
                <div class="col-sm-6">
                    <h3>{{ 'product_samples.section_2.title'|trans|raw }}</h3>
                    <p>{{ 'product_samples.section_2.body'|trans|raw }}</p>
                </div>
            {% endspaceless %}
        </div>

        <div class="row">
            {% spaceless %}
                <div class="col-sm-6">
                    <h3>{{ 'product_samples.section_3.title'|trans|raw }}</h3>
                    <p>{{ 'product_samples.section_3.body'|trans|raw }}</p>
                </div>
                <div class="col-sm-6 image-container image-grid">
                    <div class="image-row">
                        <a href="{{ asset('bundles/htesite/images/product_samples/sand_casting/large/1.jpg') }}" data-lightbox="section_3" title="{{ 'product_samples.section_3.title'|trans|raw }}">
                            <img src="{{ asset('bundles/htesite/images/product_samples/sand_casting/small/1.jpg') }}" />
                        </a>
                        <a href="{{ asset('bundles/htesite/images/product_samples/sand_casting/large/2.jpg') }}" data-lightbox="section_3" title="{{ 'product_samples.section_3.title'|trans|raw }}">
                            <img src="{{ asset('bundles/htesite/images/product_samples/sand_casting/small/2.jpg') }}" />
                        </a>
                    </div>
                    <div class="image-row">
                        <a href="{{ asset('bundles/htesite/images/product_samples/sand_casting/large/3.jpg') }}" data-lightbox="section_3" title="{{ 'product_samples.section_3.title'|trans|raw }}">
                            <img src="{{ asset('bundles/htesite/images/product_samples/sand_casting/small/3.jpg') }}" />
                        </a>
                        <a href="{{ asset('bundles/htesite/images/product_samples/sand_casting/large/4.jpg') }}" data-lightbox="section_3" title="{{ 'product_samples.section_3.title'|trans|raw }}">
                            <img src="{{ asset('bundles/htesite/images/product_samples/sand_casting/small/4.jpg') }}" />
                        </a>
                    </div>
                </div>
            {% endspaceless %}
        </div>

        <div class="row">
            {% spaceless %}
                <div class="col-sm-6 image-container image-grid">
                    <div class="image-row">
                        <a href="{{ asset('bundles/htesite/images/product_samples/investment_casting/large/1.jpg') }}" data-lightbox="section_4" title="{{ 'product_samples.section_4.title'|trans|raw }}">
                            <img src="{{ asset('bundles/htesite/images/product_samples/investment_casting/small/1.jpg') }}" />
                        </a>
                        <a href="{{ asset('bundles/htesite/images/product_samples/investment_casting/large/2.jpg') }}" data-lightbox="section_4" title="{{ 'product_samples.section_4.title'|trans|raw }}">
                            <img src="{{ asset('bundles/htesite/images/product_samples/investment_casting/small/2.jpg') }}" />
                        </a>
                    </div>
                    <div class="image-row">
                        <a href="{{ asset('bundles/htesite/images/product_samples/investment_casting/large/3.jpg') }}" data-lightbox="section_4" title="{{ 'product_samples.section_4.title'|trans|raw }}">
                            <img src="{{ asset('bundles/htesite/images/product_samples/investment_casting/small/3.jpg') }}" />
                        </a>
                        <a href="{{ asset('bundles/htesite/images/product_samples/investment_casting/large/4.jpg') }}" data-lightbox="section_4" title="{{ 'product_samples.section_4.title'|trans|raw }}">
                            <img src="{{ asset('bundles/htesite/images/product_samples/investment_casting/small/4.jpg') }}" />
                        </a>
                    </div>
                </div>
                <div class="col-sm-6">
                    <h3>{{ 'product_samples.section_4.title'|trans|raw }}</h3>
                    <p>{{ 'product_samples.section_4.body'|trans|raw }}</p>
                </div>
            {% endspaceless %}
        </div>

        <div class="row">
            {% spaceless %}
                <div class="col-sm-6">
                    <h3>{{ 'product_samples.section_5.title'|trans|raw }}</h3>
                    <p>{{ 'product_samples.section_5.body'|trans|raw }}</p>
                </div>
                <div class="col-sm-6 image-container image-grid">
                    <div class="image-row">
                        <a href="{{ asset('bundles/htesite/images/product_samples/forging/large/1.jpg') }}" data-lightbox="section_5" title="{{ 'product_samples.section_5.title'|trans|raw }}">
                            <img src="{{ asset('bundles/htesite/images/product_samples/forging/small/1.jpg') }}" />
                        </a>
                        <a href="{{ asset('bundles/htesite/images/product_samples/forging/large/2.jpg') }}" data-lightbox="section_5" title="{{ 'product_samples.section_5.title'|trans|raw }}">
                            <img src="{{ asset('bundles/htesite/images/product_samples/forging/small/2.jpg') }}" />
                        </a>
                    </div>
                    <div class="image-row">
                        <a href="{{ asset('bundles/htesite/images/product_samples/forging/large/3.jpg') }}" data-lightbox="section_5" title="{{ 'product_samples.section_5.title'|trans|raw }}">
                            <img src="{{ asset('bundles/htesite/images/product_samples/forging/small/3.jpg') }}" />
                        </a>
                        <a href="{{ asset('bundles/htesite/images/product_samples/forging/large/4.jpg') }}" data-lightbox="section_5" title="{{ 'product_samples.section_5.title'|trans|raw }}">
                            <img src="{{ asset('bundles/htesite/images/product_samples/forging/small/4.jpg') }}" />
                        </a>
                    </div>
                </div>
            {% endspaceless %}
        </div>
        
    </div>
{% endblock %}